google Api 호출 (도서 검색 test)
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="search book" aria-label="" aria-describedby="basic-addon2" [(ngModel)]="inputData">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="!!inputData ? getBook(inputData) : ''">검색</button>
    </div>
</div>
<div class="result">검색 결과</div>
<div *ngIf="!!bookTest$">
  <div *ngFor="let item of bookTest$ | async">
    <div (click)="openBookLayer(item)">
      <span>{{item.volumeInfo.title}}</span>
    </div>
  </div>
</div>

<app-book-layer *ngIf="!!bookInfo"
    [openFlag]="openFlag"
    [bookInfo]="bookInfo"
></app-book-layer>